.cookie-compliance {
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #7a7a7a;
	background-color: #ececec;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#e1e1e1');
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#e1e1e1));
	background: -moz-linear-gradient(top, #ececec, #e1e1e1);
	
	height: 33px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	
}

.cookie-compliance-sandbag {
	height: 20px;
}

.cookie-compliance div {
	padding-right: 9px;
}

.cookie-compliance p {
	margin: 0;
	font-family: Tahoma, Helvetica, Arial;
	font-size: 13px;
	padding: 7px 0px 0px 15px;
}

.cookie-compliance button, .cookie-compliance .cancel {
	float: right;
	margin-left: 5px;
	font-size: 12px;
	margin-top: 6px;
	padding: 3px;
	text-decoration: none;
	color: black;
}

.cookie-compliance .cancel {
	border-radius: 7px;
	width: 7px;
	height: 7px;
	display: block;
	margin-top: 9px;
	color: #b8b8b8;
}

.cookie-compliance .cancel span {
	margin-top: -5px;
	display: block;
	font-weight: bold;
	margin-left: -1px;
	font-size: 15px;
	
}

.cookie-compliance .cancel:hover {
	background: #a1a1a1;
	color: white;
	
}